<?xml version="1.0"?>
<launch>
    <!-- The name to use for the camera node. -->
    <arg name="node_name" default="camera"/>
    <!-- The frame ID to use for camera messages. -->
    <arg name="frame_id" default="frame"/>
    <!-- The ffmpeg encoder name to use. -->
    <arg name="encoder" default="h264_v4l2m2m"/>
    <!-- The camera device ID to read from. Use this to switch between camera modules. -->
    <arg name="device_id" default="0"/>
    <!-- The quality value to use. For MJPEG, this is the equivalent of setting the -q flag. -->
    <arg name="quality" default="2"/>
    <!-- The maximum FPS to allow from the camera. -->
    <arg name="fps" default="30"/>
    <!-- The file defining the post-processing configuration to use. -->
    <arg name="postprocess_file" default=""/>

    <node name="$(arg node_name)" pkg="libcamera_device" type="libcamera_device_node" required="true" output="screen">
        <param name="ffmpeg/qmax" value="$(arg quality)"/>
        <param name="ffmpeg/encoder" value="$(arg encoder)"/>
        <param name="ffmpeg/profile" value="baseline" />
        <param name="ffmpeg/bit_rate" value="16000000" />
        <param name="fps" value="$(arg fps)"/>
        <param name="width" value="1920"/>
        <param name="height" value="1080"/>
        <param name="frame_id" value="$(arg frame_id)"/>
        <param name="device_id" value="$(arg device_id)"/>
        <param name="postprocess_file" value="$(arg postprocess_file)"/>
    	<remap from="detections" to="/$(arg node_name)/detections"/>
    </node>
</launch>