<?xml version="1.0"?>
<!-- Launch file for HAILO cotton flower detection from camera images. -->

<launch>
    <!-- Path to the directory containing HAILO models. -->
    <arg name="model_dir"/>
    <!-- Camera ID to use, which will dictate the name of the topic it listens on. -->
    <arg name="camera_id" default="camera"/>

    <include file="$(find hailo_model_runner)/launch/hailo_detection.launch">
        <arg name="hef_file_path" value="$(arg model_dir)/flowers/flower_detection_model.hef"/>
        <arg name="camera_id" value="$(arg camera_id)"/>
    </include>
</launch>
