<?xml version="1.0"?>
<!-- Launch file for HAILO object detection from saved videos. -->

<launch>
    <!-- The path to the model HEF file. -->
    <arg name="hef_file_path"/>
    <!-- Camera ID to use, which will dictate the name of the topic it listens on. -->
    <arg name="camera_id" default="camera"/>

    <!-- Decompresses and republishes saved videos. -->
    <node pkg="image_transport" type="republish" name="image_transport_republish_$(arg camera_id)"
        args="ffmpeg in:=/$(arg camera_id) raw out:=/$(arg camera_id)/cam_image_decompressed " output="screen" required="true">
    </node>
    <!-- Runs inference on the HAILO with camera frames. -->
    <node name="hailo_inference_$(arg camera_id)" pkg="hailo_model_runner"
          type="hailo_inference" output="screen" required="true">
    	<param name="hef_file_path" value="$(arg hef_file_path)"/>
    	<remap from="~image" to="/$(arg camera_id)/cam_image_decompressed"/>
    	<remap from="~detections" to="/$(arg camera_id)/detections"/>
    </node>
</launch>