<?xml version="1.0"?>
<!-- Standard launch file for the hardware manager. -->

<launch>
    <!-- Camera ID to use, which will dictate the name of the topic it listens on. -->
    <arg name="camera_id" default="camera"/>

    <!-- For fan control to work, the hardware monitor needs to be running. -->
    <node name="$(anon hw_monitor)" pkg="ros_hw_monitor" type="hw_monitor" output="screen">
        <remap from="/system_info" to="/$(arg camera_id)/system_info"/>
    </node>

    <node name="$(anon camera_hw_manager)" pkg="mars_camera_hw_manager" type="hw_manager">
        <param name="camera_id" value="$(arg camera_id)"/>
    </node>
    <node name="$(anon camera_shutdown)" pkg="mars_camera_hw_manager" type="shutdown">
        <param name="camera_id" value="$(arg camera_id)"/>
    </node>
    <node name="$(anon camera_fan_control)" pkg="mars_camera_hw_manager" type="fan_controller">
        <!-- Fan is connected to pin 12 on v2 modules. -->
        <param name="camera_pin" value="12"/>
        <remap from="~system_info" to="/$(arg camera_id)/system_info"/>
    </node>
</launch>