#!/usr/bin/env python

PACKAGE = "libcamera_device"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("fps", double_t, 1, "The FPS to request from the camera", 10.0, 1.0, 120.0)
gen.add(
    "width",
    int_t,
    1,
    "The width of the image to request from the camera",
    640,
    0,
    10000,
)
gen.add(
    "height",
    int_t,
    1,
    "The height of the image to request from the camera",
    480,
    0,
    10000,
)

# This offset is generally meant to be used to make tiny adjustments to frame rate in order to bring two cameras into
# sync. Level 2 is used so that this setting can be applied separately from the others.
gen.add(
    "frame_duration_offset",
    int_t,
    2,
    "Offset to apply to calculated frame durations, in us",
    0,
    -1000,
    1000,
)

gen.add("ev", double_t, 1, "The EV compensation value to set.", 0.0, -10.0, 10.0)
gen.add("contrast", double_t, 1, "The contrast value to set", 1.0, 0.0)
gen.add("saturation", double_t, 1, "The saturation value to set", 1.0, 0.0)
gen.add("sharpness", double_t, 1, "The amount of digital sharpening to add", 1.0, 0.0)

# Specifies the post-processing configuration to use
gen.add(
    "postprocess_file", str_t, 1, "The post-processing configuration file to use", ""
)

# Specifies the transformation to use on the image.
transform_enum = gen.enum(
    [
        gen.const("none", str_t, "none", "none"),
        gen.const("transpose", str_t, "transpose", "transpose"),
        gen.const("flip_h", str_t, "flip_h", "flip_h"),
    ],
    "An enum to set the image transformation",
)
# Bit 3 in the level indicates that setting this requires a full camera restart.
gen.add("transform", str_t, 9, "transform", "none", edit_method=transform_enum)

# Level 4 to indicate that this can be configured independently.
gen.add("lock_focus", bool_t, 4, "Lock the focus of the camera", False)

exit(gen.generate(PACKAGE, "libcamera_device_node", "LibcameraDevice"))
