#!/usr/bin/env python

PACKAGE = "libcamera_device"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("fps", int_t, 1, "The FPS to request from the camera", 10, 1, 120)
gen.add("width", int_t, 1, "The width of the image to request from the camera", 640, 0, 10000)
gen.add("height", int_t, 1, "The height of the image to request from the camera", 480, 0, 10000)

gen.add("ev", double_t, 1, "The EV compensation value to set.", 0.0, -10.0, 10.0)
gen.add("contrast", double_t, 1, "The contrast value to set", 1.0, 0.0)
gen.add("saturation", double_t, 1, "The saturation value to set", 1.0, 0.0)
gen.add("sharpness", double_t, 1, "The amount of digital sharpening to add", 1.0, 0.0)

# Specifies the post-processing configuration to use
gen.add("postprocess_file", str_t, 1, "The post-processing configuration file to use", "")

# Level 2 is used to indicate that this can be changed "on the fly"
# without requiring a full camera reset.
gen.add("lock_focus", bool_t, 2, "Lock the focus of the camera", False)

exit(gen.generate(PACKAGE, "libcamera_device_node", "LibcameraDevice"))